/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  cursor: pointer;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.filter-container {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

.filter-container > div {
  font-family: "syne";
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 30px;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les éléments */
    margin: 50px auto;
  }

  .filter-container > div {
    display: flex;
    justify-content: center;
    font-family: "Syne";
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid #1d6154;
    border-radius: 60px;
    padding: 9px;
    margin: 10px;
    cursor: pointer;
    width: calc(
      50% - 20px
    ); /* Chaque bouton occupe 50% de la largeur moins l'espace entre les boutons */
    box-sizing: border-box;
  }
}

.filter-container > div.active {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.send-btn {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.footer-login {
  padding: 14em 2em 2em;
}

.login {
  text-align: center;
  margin-top: 9em;
}

.forgot-password {
  display: inline;
  font-family: "work sans";
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.forgot-password:hover {
  text-decoration: underline;
}

.error-box {
  display: flex;
  justify-content: center;
  background-color: #93532f;
  box-shadow: 0px 4px 10px rgba(147, 83, 47, 0.7);
  color: white;
  padding: 20px;
  font-size: 1.2em;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.edit-btn a {
  color: black;
}

.modify {
  display: none;
  margin: 0 0 25px;
}

.project span {
  font-family: "work sans";
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}

.fa-pen-to-square {
  font-size: 16px;
}

.banner {
  display: none;
  background: rgba(0, 0, 0, 1);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.banner span {
  font-family: "work sans";
  font-size: 16px;
  margin-left: 10px;
}

/* boite modal */

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-wrapper {
  position: relative;
  overflow: auto;
  width: 600px;
  max-width: calc(100vw -40px);
  max-height: calc(100vh -40px);
  padding: 20px;
  background-color: white;
}

.close-modal {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-modal:focus {
  outline: none;
}

#title-modal {
  font-family: "work sans";
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  padding: 60px 45px;
}

.modal-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.modal-gallery figure {
  position: relative;
  display: inline-block;
}

.modal-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.fa-trash-can {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  background: black;
  color: white;
  cursor: pointer;
}

.add-photo-btn {
  display: flex;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

hr {
  margin: 50px;
  border: 1px solid #b3b3b3;
}

#add-form {
  width: 80%;
  margin: auto;
}

#add-form > * {
  text-align: center;
}

#add-form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#add-form input,
#category {
  height: 50px;
  font-size: 1em;
  font-family: "work sans";
  font-weight: 400;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#add-form label {
  margin: 2em 0 1em 0;
  font-family: "work sans";
  font-weight: 500;
  font-size: 1em;
}

.validate {
  display: flex;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #a7a7a7;
  margin: 2em auto;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#image-area {
  width: 80%;
  margin: auto;
  background: #e8f1f6;
}

.fa-image {
  font-size: 50px;
  color: #b9c5cc;
  margin: 26px 0 6px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.file-upload span {
  text-align: center;
  width: 173px;
  font-family: "work sans";
  font-weight: 500;
  font-size: 14px;
  background: #cbd6dc;
  border-radius: 50px;
  padding: 10px 33px;
  margin-bottom: 7px;
}
.photo-limits {
  display: block;
  padding: 0;
  font-family: "work sans";
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  padding-bottom: 19px;
}

#preview-container {
  display: flex;
  justify-content: center;
}

/* Image preview stylisée */
#preview-image {
  max-width: 100%;
  max-height: 200px;
  border: 2px solid #007bff;
  border-radius: 8px;
}
/* .fa-trash-can {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 170px;
  left: 95px;
  width: 17px;
  height: 17px;
  background: white;
} */
